SLACK_DEV_CHANNEL_ID=dummy # ensure bot in this channel
SLACK_OAUTH_TOKEN=dummy
SLACK_API_URL=dummy
GITLAB_ACCESS_TOKEN=dummy
GITLAB_API_URL=dummy
GITLAB_PROJECT_ID=dummy
RAILS_MASTER_KEY=dummy
DATABASE_URL=postgresql://username:password@postgresql:5432/db_name
POSTGRES_USER=dummy
POSTGRES_PASSWORD=dummy
POSTGRES_DB=dummy
